{
    "env": {
        "jest": true
    },
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./config/webpack.config.common.js"
            }
        }
    },
    "rules": {
        "react/jsx-filename-extension": [0],
        "react/forbid-prop-types": [0],
        "arrow-parens": ["error", "always"]
    }
}