{
  "extends": "airbnb",
  "parser": "babel-eslint",  
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-console": [0],
    "react/jsx-filename-extension": [0],
    "react/prefer-stateless-function": [0]
  }
}
